[Unit]
Description=uWSGI stud restapi

[Service]
Environment=DATABASE_URL=postgres://youruser:yourpass@localhost:5432/youruser
ExecStart=/yourenv/bin/uwsgi  --emperor --master /base/uwsgi.ini --die-on-term --uid youruser --gid youruser_group --logto /base/log/emperor.log --stats :8081 --stats-http
Restart=always
KillSignal=SIGQUIT
Type=notify
NotifyAccess=all


[Install]
WantedBy=multi-user.target
